html {
	font-family:"HelveticaNeue-Light", "Helvetiva Neue Light", Helvetica, Arial, 
	"Lucida Grande", sans-serif;
	background-color:#F5F6F7;
		
}

body{
	width:100%;
	height:100%;
	margin:unset;
}

#wrapper{
    min-height: 100%;
    padding:0%;
}

#listener{
    display:block;
    margin: auto;
    padding-top:1%;
    width: 200px;
}

#song_wrapper{
    display: block;
    margin: auto;
    width: 25%;
    padding-top: 4%;
}

#song {
    color: black;
    display: block;
    width: 100%;
}

#song table {
    margin-left: auto;
    margin-right: auto;
}