html {
	font-family:"HelveticaNeue-Light", "Helvetiva Neue Light", Helvetica, Arial, 
	"Lucida Grande", sans-serif;
	background-color:#F5F6F7;
		
}
html,body{
	width:100%;
	height:100%;
}

/* unvisited link */
a:link {
    color: #1E2F5C;
}

/* visited link */
a:visited {
    color: #1E2F5C;
}

/* mouse over link */
a:hover {
    color: #7FD1E3;
}

/* selected link */
a:active {
    color: #1E2F5C;
}
	
#wrapper{min-height: 100%;}	

#header{
	height: 48px;
	margin-left:15%;
	margin-right:15%;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	border-radius: 6px;
	background-color: #999;
	display: none;
		
}
.text_header{
    padding-top: 12px;
	color:#FFF;	
	text-align:center;
	font-family:"Arial";
	font-size:24px;
	line-height: 24px;
	vertical-align:middle;		
}

#content {
    position: absolute;
    left:5%;
    padding-top: 2%;
    padding-left:25%;
    padding-right:25%;
    opacity: 0.0;

}

#content span {
    float: left;
    clear: left;
    display: block;
    padding-top: 6px;
}

#footer {
    position: relative;
	margin-top:-48px;
	height: 40px;
	margin-left:15%;
	margin-right:15%;
	background-color:#E0E0E0;
	clear:both;
	display: none;
}
.text_footer{
	color:#707070;
	text-align:center;
	font-family:"Arial";
	font-size:14px;
	line-height: 14px;
	vertical-align:middle;
	}
	
#allthestuff{
    position: absolute;
    width: 50%;
    padding-top: 2%;
    padding-left:15%;
    padding-right:15%;
}

#allthestuff span {
    float: left;
    clear: left;
    display: block;
    padding-top: 6px;
}